/* ===== RESET ===== */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* ===== HERO ===== */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ff7a4f; /* degradado cálido */
  padding: 80px 20px;
  color: #fff;
}

.hero-text {
  max-width: 600px;
}

.hero-text h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

.hero-text p {
  color: #fff;
  font-size: 15px;
  margin-bottom: 20px;
}

.btn { 
  background: #3451e6; 
  border: 0; 
  border-radius: 14px; 
  padding: 10px 16px;    
  font-size: 14px; 
  font-weight: 700; 
  cursor: pointer; 
  transition: 0.2s ease;
  box-shadow: 0 3px 0 #2236c9, 0 10px 20px rgba(15,49,242,0.25);
  color: #fff;
}
.btn:hover {
  background: #2d43cc;
}

/* ===== CATEGORÍAS ===== */
.categorias {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
  padding: 50px 0;
  background-color: #eef1fd; /* azul muy suave */
}

.categoria {
  text-align: center;
  background-color: #fff;
}

.img-placeholder {
  width: 200px;
  height: 120px;
  background-color: #dfe4f1;
  border-radius: 8px;
  margin-bottom: 10px;
}

/* ===== PRODUCTOS ===== */
.productos {
  background: linear-gradient(120deg, #ff7a4f, #ff9f68);
  text-align: center;
  padding: 60px 20px;
  color: #fff;
}

.productos h2 {
  font-size: 28px;
  margin-bottom: 10px;
}

.productos p {
  color: #fff;
  margin-bottom: 40px;
}

/* ===== GRID DE PRODUCTOS ===== */
.productos-grid {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  position: relative;
  background-color: #fff;
  width: 250px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  text-align: center;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 5px 16px rgba(0,0,0,0.15);
}

.card h3 {
  margin: 15px 0 10px;
  font-size: 16px;
  color: #24325f;
}

.card p {
  font-size: 13px;
  color: #555;
  margin-bottom: 15px;
}

.card .btn {
  width: 100%;
  font-size: 14px;
}

/* ===== ETIQUETAS ===== */
.etiqueta {
  position: absolute;
  top: 15px;
  left: 15px;
  background-color: #3451e6;
  color: #fff;
  border-radius: 50%;
  padding: 10px;
  font-size: 12px;
  font-weight: bold;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}

.etiqueta.descuento {
  left: auto;
  right: 15px;
  background-color: #ff4b4b;
}


